<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Task Manager</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div id="app">
		<div class="container">
			<div class="calendar">
				<table class="table">
					<thead>
						<tr>
							<td>
								<button v-on:click="decrease">Prev
								</button>
							</td>
							<td colspan="5"> {{monthes[month]}} {{year}} </td>
							<td>
								<button v-on:click="increase">Next</button>
							</td>
						</tr>
						<tr>
							<td v-for="d in day">{{d}}</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="week in calendar()">
							<td v-for="(day, index) in week"
								:style="{'color': day.weekend, 'background-color': day.current}">
								{{ day.index }} </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="script.js"></script>
</body>

</html>