<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Task Manager</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id="app">
		<div class="container">
			<div class="calendar">
				<table class="table">
					<thead>
						<tr>
							<td>
								<button v-on:click="decrease">Назад
								</button>
							</td>
							<td colspan="5"> {{monthes[month]}} {{year}} </td>
							<td>
								<button v-on:click="increase">Вперед</button>
							</td>
						</tr>
						<tr>
							<td v-for="d in day">{{d}}</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="week in calendar()">
							<td v-bind:class="{active: getActive == day.index && getActive != undefined, 'active-task': detectTasksDays(day.index), 'done-cell': doneDayTasks(day.index), deadline: !doneDayTasks(day.index) && isDeadline(day.index)}"
								@click="setActive(day)" v-for="(day, index) in week"
								:style="{'color': day.weekend, 'background-color': day.current}">
								{{ day.index }} </td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="task-list" v-if="getActive">
				<button @click="removeActive" class="tasks-close">x</button>
				<span class="date">{{fullDateStr}}</span>
				<ul>
					<li v-for="(task, index) in currentTasks">
						<span class="checkbox" v-if="!task.done"><input @change="doneTask(task)" type="checkbox"></span>
						<span class="task-text" v-if="!task.edit" @dblclick="getEditInput(index)"
							v-bind:class="{'done-list': task.done}">{{task.task}}</span>
						<input @keydown.enter="editTask(index)" v-bind:class="{'done-list': task.done}"
							v-model="editInputTask" v-else type="text" class="edit-task">
						<div class="remove-task"><button @click="removeTask(index)" class="remove">Удалить</button>
						</div>
					</li>
				</ul>
				<p v-if="!currentTasks.length" class="no-tasks">Задач пока нет.</p>
				<div class="task-list__footer">
					<label for="newTask"><span class="label">Добавьте новую
							задачу:</span><input @keydown.enter="setNewTask" v-model="inputTask" type="text"
							class="add-task" id="newTask"></label>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="script.js"></script>
</body>

</html>