.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
}

.calendar {
    width: 400px;
    box-shadow: 2px 2px 3px #333;
}

.table {
    border-collapse: collapse;
    float: left;
    width: 400px;
    height: 300px;
    table-layout: fixed;
    box-shadow: 0 0 10px #333;
    padding: 20px;
}

.format-week {
    float: right;
}

.table td {
    text-align: center;
}

.table tbody td:hover {
    background-color: rgb(79, 192, 79);
    color: #fff;
}

.table tbody td {
    border: 1px solid rgb(175, 175, 175);
    cursor: pointer;
}

.table thead tr:last-child {
    background-color: #dedada;
}
