.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
}

.calendar {
    width: 400px;
    box-shadow: 2px 2px 3px #333;
}

.table {
    border-collapse: collapse;
    float: left;
    width: 400px;
    table-layout: fixed;
    box-shadow: 0 0 10px #333;
    padding: 20px;
    height: 100%;
}

.format-week {
    float: right;
}

.table td {
    text-align: center;
}

.table tbody td:hover {
    background-color: rgb(79, 192, 79);
    color: #fff !important;
}

.table tbody td {
    border: 1px solid rgb(175, 175, 175);
    cursor: pointer;
    height: 50px;
}

.table thead tr:last-child {
    background-color: #dedada;
}
.table thead td {
    cursor: default;
}
.table button {
    border: none;
    margin: 0;
    background-color: rgb(121, 121, 121);
    height: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    cursor: pointer;
    width: 100%;
    transition: all ease 0.1s;
}
.table button:hover {
    background-color: rgb(56, 56, 56);
}
